Package: com.raspberryenvoie.lsnoblur
Name: LS no Blur
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disable the blur effect when switching from the LS to the HS!
Maintainer: raspberryenvoie
Author: raspberryenvoie
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.15.1)
